.load-wrapper {
    background-color: black;
    background-size: cover;
  
    color: white;
  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loading{
      padding-left: 2%;
      color: blue;
      clear: both;
  }
  